@import "Gm";

.gm {
  width: 100%;
  text-align: center;
  margin-top: 30vh;
  font-family: Arial;
}

.title {
  color: palevioletred;
  font-size: 5vw;
  font-weight: 400;
  font-family: Lato-Medium;
}

.subTitle{
  font-size: 1.5vw;
  font-weight: 200;
  color: grey;
}

.imgBar{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.imgBlock{
  flex: 0 0 20%;
}

.imgFix{
  width: 20%;
}

.demoBar{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.demoBlock{
  flex: 0 0 20%;
  height: 300px;
  border: 1px solid gainsboro;
  padding: 0.3vw;
  box-sizing: border-box;
}
