
.gm {
  width: 100%;
  text-align: center;
  margin-top: 30vh;
  font-family: Arial;
}

.title {
  color: palevioletred;
  font-size: 5vw;
  font-weight: 400;
}

.subTitle{
  font-size: 2vw;
  font-weight: 200;
  color: grey;
}
